* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --glow-color: cyan;
    --inner-glow: rgba(200, 255, 255, 0.9);
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background: #2a2b2b;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav {
    width: 100vw;
    /* Forces the nav bar to take the full viewport width */
    min-width: 100%;
    display: flex;
    justify-content: center;
    background: #007a7a;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #00dbdb;
    flex-wrap: wrap;
    /* Ensures items wrap properly on smaller screens */
}

nav a {
    /* color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.1rem; */

    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    background: #007a7a;
    transform: skewX(-30deg);
    transition: 0.3s;
}

nav a span {
    display: inline-block;
    transform: skewX(30deg);
}

nav a:hover {
    background: #006464;
    color: #fffab3;
}

nav a:focus {
    color: #fffab3;
}

section {
    padding: 2rem;
    text-align: center;
}

#about,
#projects,
#experience,
#technologies,
#github,
#linkedin,
#contact {
    /* padding-top: 12rem; */
    min-height: 20vh;
}

#projects {
    background-color: #e9e9e9;
    color: #000;
}

#technologies {
    background-color: #e9e9e9;
    color: #000;
}

.dark-mode #projects {
    background-color: #1a1a1a;
    color: #fff;
}

.dark-mode #technologies {
    background-color: #1a1a1a;
    color: #fff;
}

div.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}

header {
    position: relative;
    background: none;
    color: white;
    padding: 1rem 0;
    text-align: center;
    overflow: hidden;
    height: 20vh;
    overflow: hidden;
}

#displayBanner {
    position: absolute;
    /* top: -115px; */
    top: -70%;
    left: 0;
    width: 100vw;
    height: 30vh;
    /* height: 100%; */
    object-fit: cover;
    z-index: 2;
}

/* When device height is 1455px or less, push the banner down */
/* @media (max-width: 1455px) {
    #displayBanner {
        top: -100px;
    }
} */

/* When device height is 1455px or less, push the banner down */
/* @media (max-height: 1230px) {
    #displayBanner {
        top: -30px;
    }
} */

/* When device height is 1455px or less, push the banner down */
/* @media (max-height: 1135px) {
    #displayBanner {
        top: -20px;
    }
} */

/* When device height is 1455px or less, push the banner down */
/* @media (max-height: 950px) {
    #displayBanner {
        top: -20px;
    }
} */

/* When the device width is 900px or less */
@media (max-width: 900px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
        /* Ensures links spread out evenly */
    }

    #displayBanner {
        top: -20px;
        width: 100vw;
        /* Ensure banner fills width */
        /* height: auto; */
        /* Adjusts the height dynamically */
    }
}

/* When the device width is 900px or less */
@media (max-width: 860px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;

        /* Ensures links spread out evenly */
    }

    #displayBanner {
        top: -20px;
        width: 100vw;
        /* Ensure banner fills width */
        /* height: auto; */
        /* Adjusts the height dynamically */
    }
}

@media (max-width: 840px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
        /* Ensures links spread out evenly */
    }

    #displayBanner {
        width: 100vw;
        /* Ensure banner fills width */
        /* height: auto; */
        /* Adjusts the height dynamically */
    }
}

/* When device height is 1455px or less, push the banner down */
@media (max-height: 820px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
        /* Ensures links spread out evenly */
    }

    #displayBanner {
        /* top: 30px; */
        bottom: -30px;
        /* Adjust this value as needed */
        width: 100vw;
        /* height: auto; */
    }
}

/* When device height is 1455px or less, push the banner down */
@media (max-height: 775px) {
    nav {
        top: -90px;
        flex-direction: row;
        justify-content: space-around;
        /* Ensures links spread out evenly */
    }

    #displayBanner {
        /* top: 50px; */

        bottom: 60px;
        /* Adjust this value as needed */
        width: 100vw;
        /* height: auto; */
        /* display: none; */
    }
}


#bannerContents {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 2rem;
}

#bannerContents h1,
#bannerContents p {
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

#toggleDarkMode {
    position: absolute;
    position: absolute;
    /* Ensures precise positioning */
    top: 50%;
    /* Centers in the Y-axis */
    right: 20px;
    /* Moves it to the left */
    transform: translateY(-50%);
    /* Ensures true vertical centering */
    /* position: relative; */
    /* bottom: 20px; */
    /* left: 50%; */
    /* left: 50px; */
    /* transform: translateX(-50%); */
    /* transform: translateX(50px); */
    /* Moves the toggle to the right */
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    z-index: 10;
}

.gradient-box {
    background: linear-gradient(rgb(195, 0, 255), rgb(0, 84, 95)) padding-box,
        linear-gradient(to right, rgba(212, 0, 255, 0.377), rgb(0, 226, 215)) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
}

@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* .rotating {
    -webkit-animation: rotating 4s linear infinite;
    -moz-animation: rotating 4s linear infinite;
    -ms-animation: rotating 4s linear infinite;
    -o-animation: rotating 4s linear infinite;
} */

/* Centering the whole section */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* height: 100vh; */
    /* Full height */
}

/* Outer container for centering */
.profile-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    /* width: 220px; */
    /* Adjust as needed */
    /* height: 220px; */
}

/* Rotating gradient border */
.gradient-border {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Rotating gradient effect */
.gradient-border::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: 414px;
    height: 414px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(195, 0, 255), rgb(0, 217, 224));
    z-index: -1;
    animation: rotating 3s linear infinite;
}

/* Profile Image */
.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

/* Rotating animation */
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.content {
    background-color: rgba(255, 255, 255, 1.0);
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    min-width: 20vw;
    width: 80vw;
    max-width: 90vw;
    max-height: 90vh;
    left: 50%;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 2vw;
    overflow: hidden;
}

.content-inner {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    border-radius: inherit;
}

.content-inner::-webkit-scrollbar {
    width: 0;
}

.content-inner {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.content-inner .sticky {
    position: relative;
    overflow: visible;
}

.content-inner::-webkit-scrollbar {
    width: 0.6vw;
}

.content-inner::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1vw;
}

.content-inner::-webkit-scrollbar-track {
    background: transparent;
}

.project-card {
    display: inline-block;
    overflow: hidden;
    margin: 1rem;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 400px;
    min-height: 710px;
}

.project-card-image-wrapper {
    /* overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; */

    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

}

/* .project-card-image {
    transition: 1.5s;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-card-image:hover {
    transform: scale(1.1);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
} */

.project-card-image {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1.5s ease-in-out;
}

.project-card-image:hover img {
    transform: scale(1.1);
    cursor: pointer;
    background-color: black;
    color: #fff;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
}

.project-card-image:hover .btn {
    opacity: 1;
    /* Show button on hover */
}

/* .btn:hover {
    background-color: rgba(0, 0, 0, 0.9);
} */

.project-card-link {
    margin: -50px;
}

.project-card-text {
    padding: 1rem 1rem 1rem 1rem;
    /* Order: top right bottom left*/
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 1rem;

}

.project-card-labels {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
    /* margin-top: auto; */
}

.label {
    --bg-color: #ffffff;
    --text-color: white;
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 0.9rem;
    white-space: nowrap;
    /* border: 2px solid rgba(0, 0, 0, 0.5); */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); */
}

.dark-mode .label {
    border: 2px solid rgba(255, 255, 255, 0.0);
}

.nodejs {
    --bg-color: #559e4b;
}

.react {
    --bg-color: #68d2e9;
}

.bootstrap {
    --bg-color: #7227f3;
}

.redux {
    --bg-color: #7649b8;
}

.expressjs {
    --bg-color: #4c4c4c;
}

.c_plus_plus {
    --bg-color: #00589d;
}

.c_sharp {
    --bg-color: #803788;
}

.python {
    --bg-color: #4279a8;
}

.mongodb {
    --bg-color: #31ee70;
}

.mysql {
    --bg-color: #426e91;
}

.postgresql {
    --bg-color: #426e91;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #f4f4f4;
    border-top: 1px solid #ccc;
}

.coding-animation-container {
    text-align: left;
    background-color: #1e1e1e;
    color: #00dbdb;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    padding: 20px;
    border-radius: 8px;
    margin: 50px auto;
    width: 90vw;
    max-width: 600px;
    max-width: 50vw;
    position: relative;
    overflow: hidden;
    z-index: 10;
    min-height: 100px;
    border: 2px solid var(--glow-color);
    box-shadow:
        0 0 5px var(--inner-glow),
        0 0 15px var(--glow-color),
        0 0 30px var(--glow-color),
        0 0 50px rgba(0, 255, 255, 0.6);
    animation: glow-animation 1.5s infinite alternate;
}

@keyframes glow-animation {
    0% {
        box-shadow:
            0 0 5px var(--inner-glow),
            0 0 15px var(--glow-color),
            0 0 30px var(--glow-color),
            0 0 50px rgba(0, 255, 255, 0.6);
    }

    50% {
        box-shadow:
            0 0 8px var(--inner-glow),
            0 0 20px var(--glow-color),
            0 0 40px var(--glow-color),
            0 0 60px rgba(0, 255, 255, 0.8);
    }

    100% {
        box-shadow:
            0 0 5px var(--inner-glow),
            0 0 15px var(--glow-color),
            0 0 30px var(--glow-color),
            0 0 50px rgba(0, 255, 255, 0.6);
    }
}

.glow-red {
    --glow-color: red;
    --inner-glow: rgba(255, 200, 200, 0.9);
}

.glow-blue {
    --glow-color: blue;
    --inner-glow: rgba(200, 200, 255, 0.9);
}

.glow-green {
    --glow-color: lime;
    --inner-glow: rgba(200, 255, 200, 0.9);
}

.code-line {
    display: block;
    white-space: pre-wrap;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #00ff6a;
    border-right: 2px solid #00dbdb;
    animation: typing 3.5s steps(40, end), blink 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@media (max-width: 768px) {
    .coding-animation-container {
        font-size: 1rem;
        padding: 15px;
    }

    .code-line {
        font-size: 1rem;
    }
}

#line-graph-card {
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#line-graph-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#line-graph-canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.toggle-btn {
    margin: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.toggle-btn:hover {
    background-color: #0056b3;
}

.dark-mode {
    background-color: #222;
    color: white;
}

.dark-mode canvas {
    background: #111;
}

.dark-mode .email-link {
    color: cyan;
}

.dark-mode .email-link:visited {
    color: pink;
}

.dark-mode footer {
    background-color: #111;
    color: white;
}

.dark-mode .content {
    background-color: #222;
    color: white;
}

.dark-mode .content-inner {
    background-color: #222;
    color: white;
}

.dark-mode .coding-animation-container {
    background-color: #1e1e1e;
    color: #00dbdb;
}

.dark-mode .coding-animation-container .code-line {
    color: #00dbdb;
}

.dark-mode .coding-animation-container * {
    color: inherit;
    background-color: inherit;
}

.dark-mode .project-card {
    background-color: #111;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
    /* background-color: #21ecf3; */
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
    /* box-shadow: 0 0 1px #21ecf3; */
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.gallery-container {
    position: relative;
    width: 80%;
    overflow: hidden;
    margin: auto;
}

.gallery-wrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.gallery img {
    width: 20vw;
    flex-shrink: 0;
    object-fit: cover;
    position: relative;
}

.arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    z-index: 10;
    opacity: 0.7;
}

.arrow-button:hover {
    opacity: 1;
}

.left {
    left: 0.5%;
}

.right {
    right: 0.5%;
}

#image-gallery {
    box-sizing: border-box;
}

.image-container {
    position: relative;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}